# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.test
.env.production
.env.local

# Build and output directories
dist/
build/

# Temporary files
*.tmp
*.temp

# System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache directory
.npm/

# Coverage directory used by testing tools
coverage/

# Ignore specific types of files
*.bak
*.swp
